/*
experimenting with swipable approach defined here
https://css-tricks.com/under-engineered-responsive-tables/
*/

[role="region"][aria-labelledby] {
  overflow: auto;
}

[role="region"][aria-labelledby]:focus {
  outline: 0.1em solid rgba(0, 0, 0, 0.1);
}
