/*
experimenting with swipable approach defined here
https://css-tricks.com/under-engineered-responsive-tables/
*/

.scrollableTableContainer {
  overflow: auto;
}

scrollableTableContainer:focus {
  outline: 0.1em solid rgba(0, 0, 0, 0.1);
}
